#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 0rem 1rem 1rem 1rem;
  text-align: center;
  box-sizing: border-box;
}

.main-container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}

.left-side {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}

.right-side {
  display: flex;
  flex-direction: column;
  gap: 4px;
}