#root {
  display: grid;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.main-container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}

.left-side {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right-side {
  display: flex;
  flex-direction: column;
  gap: 4px;
}